* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 90vh;
    width: 100vw;
    font-family: roboto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    margin-left: 50px;
}
.nav-items{
    color: #4135ff;
    display: flex;
    flex: .4;
    justify-content: space-around;
}
.nav-item{
    margin: 15px;
    z-index: 1;
}
.nav-item:hover{
    color: #9f60f0;
    cursor: pointer;
}
.signin-btn{
    cursor: pointer;
    z-index: 1;
    color: #fff;
    border: none;
    height: fit-content;
    margin-right: 130px;
    width: fit-content;
    border-radius: 20px;
    padding: 5px 10px;
    background-image: linear-gradient(to right, #5858f0 0%, #9f60f0 100%);
}

.intro-section{
    display: flex;
    width: 90vw;
    height: 90vh;
}
.heading {
    margin: 40px;
}
.content{
    margin-top: 30px;
    margin-left: 20px;
}
.left-section{
    margin-left: 20px;
    display: flex;
    flex: .5;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 60px;
}
.left-section h1 {
    font-size: 90px;
    font-weight: '400';
    align-items: center;        
    color: #4135ff;
}
.left-section h4 {
    color: grey;
    line-height: 35px;
    font-weight: 100;
}
.learn-more-btn{
    color: #fff;
    border: none;
    margin-top: 60px;
    margin-left: 20px;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    font-weight: 400;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    background-image: linear-gradient(to right, #5858f0 0%, #9f60f0 100%);
   
}
/* Right Section */
.backcover{
    position: absolute;
    margin-right: 0px;
    margin-top: -50px;
}

.imgs-div{
    display: flex;
    flex: .6;
}
.vector-img{
    position: absolute;
    margin-top: 430px;
    height: 100px;
}
.vector-dot{
    position: absolute;
    margin-top: 420px;
    margin-left: 45px;
}
.intimg{
    position: absolute;
    margin-left: 180px;
}

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .nav-items {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    .backcover{
        display: none;
    }
    .nav-item{
        margin: 10px;
    }

  }
  